
{% assets 'all_css' %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
{% endassets %}


    <h2 class="major">Projects</h2>
    <span class="image main"><img src="{{ url_for('static', filename='images/pic01.jpg') }} " alt="" /></span>
    <p>Currently on my Github portfolio include awesome <a href="#work">individual & collaborative projects</a>, for purposes of showcase. </p>


{% assets 'all_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}">

</script>
{% endassets %}
